{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <p><a href="/weather/" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Close</a></p>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-text-align-right">
    <p><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Share</a></p>
  </div>
</div>

<h2 class="govuk-heading-m">
  Sketty (Swansea)
</h2>

<p>Sunny intervals <br>
  Day 17° / 14° Night</p>

<div class="mo-block">
<a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">How accurate do you find this forecast?</a>
</div>

<div class="mo-block">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-body-s govuk-!-font-weight-bold mo-text-uppercase">More details</h2>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-text-align-right">
      <p><a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline">Info</a></p>
    </div>
  </div>
  <div class="mo-table-container">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-text-align-centre">1&nbsp;PM</th>
          <th scope="col" class="govuk-table__header govuk-!-text-align-centre">2&nbsp;PM</th>
          <th scope="col" class="govuk-table__header govuk-!-text-align-centre">3&nbsp;PM</th>
          <th scope="col" class="govuk-table__header govuk-!-text-align-centre">4&nbsp;PM</th>
          <th scope="col" class="govuk-table__header govuk-!-text-align-centre">5&nbsp;PM</th>
          <th scope="col" class="govuk-table__header govuk-!-text-align-centre">6&nbsp;PM</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-!-text-align-centre">995</td>
          <td class="govuk-table__cell govuk-!-text-align-centre">994</td>
          <td class="govuk-table__cell govuk-!-text-align-centre">995</td>
          <td class="govuk-table__cell govuk-!-text-align-centre">995</td>
          <td class="govuk-table__cell govuk-!-text-align-centre">994</td>
          <td class="govuk-table__cell govuk-!-text-align-centre">995</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div>
  <h2 class="govuk-body-s govuk-!-font-weight-bold mo-text-uppercase">Regional forecast</h2>
  <h3 class="govuk-heading-s">Wales</h3>
  <p>Windy with heavy showers today, drier for many tomorrow.</p>
  <h4 class="govuk-heading-s">Today</h4>
  <p>A changeable and blustery day with brief sunny intervals interspersed with plenty of heavy showers. These will be prolonged at times with hail and thunder possible in places. Windy, with particularly strong winds on southern coasts but feeling generally mild. Maximum temperature 18 °C.</p>
  <h4 class="govuk-heading-s">Tonight</h4>
  <p>Showers continuing into this evening, these locally heavy at first. Becoming drier after dark with the showers easing back to coasts and clear periods developing. Winds gradually easing. Remaining mild. Minimum temperature 8 °C.</p>
</div>

<div>
  <p class="govuk-!-text-align-centre">[Logo]</p>
</div>


{% endblock %}


